    /* to select class  */
    .firstbox {
        border: black 2px solid; 
    }
    /* to select id */
    #internal_ul{
        background-color: cyan;
    }
    ol{
        background-color: orange;
    }
    h2{
        background-color: orange;         
    }
    p[name="first_p_tag"]
    {
        background-color: pink;
    }
    body{
        background-color: green;
    }
    img{
        border-radius: 5%;
    }
    